/* FONTS */
@font-face {
  font-family: 'Roboto-Thin';
  src: url("./fonts/Roboto/Roboto-Thin.ttf");
  font-weight: lighter;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Light';
  src: url("./fonts/Roboto/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Condensed-Light';
  src: url("./fonts/Roboto/RobotoCondensed-Light.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Italic';
  src: url("./fonts/Roboto/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Medium';
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal; }
/* SASS VARIABLES */
/* GLOBAL STYLES */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

html {
  font-family: Roboto-Thin, Arial, Helvetica, sans-serif; }

/* HEADER */
header {
  width: 100%;
  background: -webkit-linear-gradient(#FBF6F3, #eff3f3);
  background: -o-linear-gradient(#FBF6F3, #eff3f3);
  background: -moz-linear-gradient(#FBF6F3, #eff3f3);
  background: linear-gradient(#FBF6F3, #eff3f3); }
  header nav {
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
    overflow: auto; }
    header nav h3.header-banner {
      float: left;
      padding-top: 3px; }
      header nav h3.header-banner a {
        text-decoration: none;
        color: #888; }
    header nav ul {
      float: right;
      list-style: none; }
      header nav ul li {
        display: inline-block;
        margin-left: 20px;
        cursor: pointer; }
        header nav ul li a {
          font-size: 15px;
          color: #888;
          text-decoration: none; }
      header nav ul li.logInOut {
        padding: 1px 4px 4px 4px;
        border: 1px solid #bbbbbb;
        border-radius: 3px; }

/* MAIN */
main {
  width: 100%;
  background: -webkit-linear-gradient(#eff3f3, #DADEDE);
  background: -o-linear-gradient(#eff3f3, #DADEDE);
  background: -moz-linear-gradient(#eff3f3, #DADEDE);
  background: linear-gradient(#eff3f3, #DADEDE); }
  main section.login {
    padding-top: 170px; }
  main section.create-profile {
    padding-top: 70px; }

/* LOGIN */
section.login div.login-form {
  margin: 0 auto;
  padding: 40px;
  width: 220px;
  height: 220px;
  text-align: center;
  background-color: #e4e9e9;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ccc inset, 1px 1px 1px #fff; }
  section.login div.login-form h2 {
    margin: 0 auto;
    font-family: "Roboto-Thin";
    font-size: 30px;
    color: #999; }
  section.login div.login-form form {
    margin-top: 30px; }
    section.login div.login-form form input {
      display: block;
      margin: 0 auto 10px auto;
      padding: 5px 10px;
      width: 200px;
      height: 20px;
      text-align: center;
      font-size: 14px;
      border: none;
      border-radius: 3px;
      box-shadow: 1px 1px 1px #bbb inset, 1px 1px 1px #fff;
      outline: none; }
    section.login div.login-form form input#submit {
      width: 220px;
      height: 30px;
      color: #fff;
      background-color: #6A89BA;
      box-shadow: 1px 1px 1px #fff inset, 1px 1px 1px #ccc; }
  section.login div.login-form a {
    text-decoration: none; }
    section.login div.login-form a span.new-account {
      color: #333;
      cursor: pointer; }

/* CREATE PROFILE */
section.create-profile {
  margin: 0 auto;
  width: 800px; }
  section.create-profile div.create-profile-form {
    background-color: #fff; }
    section.create-profile div.create-profile-form div.business-items {
      padding: 20px; }
    section.create-profile div.create-profile-form div.informal {
      padding: 20px; }

/* DASHBOARD */
section.dashboard section.points {
  margin: 0 auto;
  padding-top: 10px; }
section.dashboard section.leftPane {
  float: left; }
section.dashboard section.messages {
  float: right;
  margin-top: 1px;
  margin-right: 70px; }

/* POINTS */
section.points {
  width: 100%; }
  section.points div.progress-bar {
    padding: 8px 14px 25px 14px;
    width: calc(100% - 28px);
    background-color: #e4e9e9;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ccc inset, 1px 1px 1px #fff; }
    section.points div.progress-bar h3 {
      float: left;
      margin-bottom: 7px;
      font-size: 13px;
      color: #888; }
    section.points div.progress-bar h5 {
      float: right;
      font-size: 13px;
      color: #777; }
    section.points div.progress-bar div.progress {
      clear: both;
      width: calc(100% - 200px);
      height: 20px;
      background-color: #6A89BA;
      border-radius: 3px; }

/* LEFT PANE */
section.leftPane {
  width: 200px;
  background-color: #FBF6F3;
  box-shadow: 1px 1px 1px #fff inset, 1px 0px 1px #bbb; }
  section.leftPane div.pane-content {
    width: 100%; }
    section.leftPane div.pane-content div.pane-section {
      padding: 15px;
      height: 256.5px; }
      section.leftPane div.pane-content div.pane-section h3.pane-section-title {
        margin-bottom: 15px;
        color: #777; }
      section.leftPane div.pane-content div.pane-section img.pane-section-image {
        width: 50px;
        height: 50px;
        border-radius: 25px; }
      section.leftPane div.pane-content div.pane-section h4.pane-section-header {
        display: inline-block;
        line-height: 50px;
        vertical-align: top;
        color: #888; }
      section.leftPane div.pane-content div.pane-section ul.pane-section-options {
        margin-top: 20px;
        padding-left: 5px;
        list-style: none; }
        section.leftPane div.pane-content div.pane-section ul.pane-section-options li {
          margin-bottom: 5px;
          color: #7099b3; }
          section.leftPane div.pane-content div.pane-section ul.pane-section-options li a {
            font-family: "Roboto-Light";
            font-size: 14px;
            color: #7099b3;
            text-decoration: none; }
            section.leftPane div.pane-content div.pane-section ul.pane-section-options li a i {
              margin-right: 10px; }
    section.leftPane div.pane-content div.pane-section:first-child {
      border-bottom: 1px dotted #bbb; }

/* MESSAGES */
section.messages {
  width: calc(100% - 200px - 130px); }
  section.messages div.messages-content {
    margin: 0 auto;
    height: 495px; }
    section.messages div.messages-content ul.message-feed {
      padding: 30px 0 10px 0;
      height: 455px;
      overflow-y: scroll;
      list-style: none; }
      section.messages div.messages-content ul.message-feed li.message {
        margin-bottom: 20px;
        padding: 12px;
        font-size: 14px;
        border-radius: 3px; }
        section.messages div.messages-content ul.message-feed li.message img.message-image {
          width: 50px;
          height: 50px;
          border-radius: 25px; }
        section.messages div.messages-content ul.message-feed li.message h5.message-name {
          width: 50px;
          height: 50px;
          margin-top: 5px;
          font-family: "Roboto-Light";
          font-size: 14px !important;
          color: #888; }
        section.messages div.messages-content ul.message-feed li.message p.message-body {
          display: inline-block;
          width: calc(100% - 150px);
          line-height: 19px;
          color: #444; }
      section.messages div.messages-content ul.message-feed li.message.user div.message-sender {
        float: right;
        margin-left: 20px; }
        section.messages div.messages-content ul.message-feed li.message.user div.message-sender h5.message-name {
          float: left;
          margin-right: 8px; }
      section.messages div.messages-content ul.message-feed li.message.other div.message-sender {
        float: left;
        margin-right: 20px; }
        section.messages div.messages-content ul.message-feed li.message.other div.message-sender h5.message-name {
          float: right;
          margin-left: 8px; }
      section.messages div.messages-content ul.message-feed li.message:last-child {
        margin-bottom: 0; }
      section.messages div.messages-content ul.message-feed li.message.user {
        float: right;
        text-align: right;
        background-color: #eff3f3;
        border: 1px solid #f5f7f7; }
      section.messages div.messages-content ul.message-feed li.message.other {
        float: left;
        background-color: #e9e9e9;
        border: 1px solid #eeeeee; }
    section.messages div.messages-content ul::-webkit-scrollbar {
      width: 0px; }
    section.messages div.messages-content form {
      margin: 5px 0 0 0;
      padding: 0; }
      section.messages div.messages-content form input#message-input {
        float: left;
        display: block;
        padding: 5px 10px;
        width: calc(100% - 20px - 85px);
        height: 40px;
        font-size: 14px;
        border: none;
        outline: none; }
      section.messages div.messages-content form input#message-submit {
        display: block;
        float: left;
        padding: 5px 10px;
        width: 80px;
        height: 50px;
        color: #fff;
        background-color: #6A89BA;
        border: none; }

/* FOOTER */
footer {
  width: 100%;
  height: 30px;
  background: -webkit-linear-gradient(#DADEDE, #FBF6F3);
  background: -o-linear-gradient(#DADEDE, #FBF6F3);
  background: -moz-linear-gradient(#DADEDE, #FBF6F3);
  background: linear-gradient(#DADEDE, #FBF6F3);
  box-shadow: 1px 1px 1px #fff inset, 1px 1px 1px #bbb; }
  footer nav {
    margin: 0 auto;
    width: 90%;
    overflow: auto; }
    footer nav span {
      font-size: 12px;
      color: #999; }

/*# sourceMappingURL=main.css.map */
