/* FONTS */
@font-face {
	font-family: 'Roboto-Thin';
	src: url('./fonts/Roboto/Roboto-Thin.ttf');
	font-weight: lighter;
	font-style: normal;
}
@font-face {
   font-family: 'Roboto-Light';
   src: url('./fonts/Roboto/Roboto-Light.ttf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
	font-family: 'Roboto-Condensed-Light';
	src: url('./fonts/Roboto/RobotoCondensed-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Italic';
	src: url('./fonts/Roboto/Roboto-Italic.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('./fonts/Roboto/Roboto-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}


/* SASS VARIABLES */
$header-inner: 90%;
$footer-inner: 90%;

$theme-1: #FBF6F3; //header, footer, leftPane
$theme-2: #eff3f3; //main
$theme-3: #DADEDE;

$text-1: #666;
$text-2: #888;

$progress-bar-width: 100%;
$left-pane-width: 200px;



/* GLOBAL STYLES */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
    margin: 0;
    padding: 0;
}
html {
	font-family: Roboto-Thin, Arial, Helvetica, sans-serif;
}


/* HEADER */
header {
	width: 100%;
	background: -webkit-linear-gradient($theme-1, $theme-2);
	background: -o-linear-gradient($theme-1, $theme-2);
	background: -moz-linear-gradient($theme-1, $theme-2);
	background: linear-gradient($theme-1, $theme-2);

	nav {
		margin: 0 auto;
		padding: 10px 0;
		width: $header-inner;
		overflow: auto;

		h3.header-banner {
			float: left;
			padding-top: 3px;

			a {
				text-decoration: none;
				color: $text-2;
			}
		}
		ul {
			float: right;
			list-style: none;

			li {
				display: inline-block;
				margin-left: 20px;
				cursor: pointer;

				a {
					font-size: 15px;
					color: $text-2;
					text-decoration: none;
				}
			}
			li.active {

			}
			li.logInOut {
				padding: 1px 4px 4px 4px;
				border: 1px solid lighten($text-2, 20%);
				border-radius: 3px;
			}
		}
	}
}


/* MAIN */
main {
	width: 100%;
	background: -webkit-linear-gradient($theme-2, $theme-3);
	background: -o-linear-gradient($theme-2, $theme-3);
	background: -moz-linear-gradient($theme-2, $theme-3);
	background: linear-gradient($theme-2, $theme-3);

	section.login {
		padding-top: 170px;
	}
	section.create-profile {
		padding-top: 70px;
	}
	section.leaderboard {
		padding-top: 70px;
	}
}


/* LOGIN */
section.login {

	div.login-form {
		margin: 0 auto;
		padding: 40px;
		width: 220px;
		height: 220px;
		text-align: center;
		background-color: #e4e9e9;
		border-radius: 3px;
		box-shadow: 1px 1px 1px #ccc inset,
		            1px 1px 1px #fff;

		h2 {
			margin: 0 auto;
			font-family: "Roboto-Thin";
			font-size: 30px;
			color: #999;
		}
		form {
			margin-top: 30px;

			input {
				display: block;
				margin: 0 auto 10px auto;
				padding: 5px 10px;
				width: 200px;
				height: 20px;
				text-align: center;
				font-size: 14px;
				border: none;
				border-radius: 3px;
				box-shadow: 1px 1px 1px #bbb inset,
				            1px 1px 1px #fff;
				outline: none;
			}
			input#submit {
				width: 220px;
				height: 30px;
				color: #fff;
				background-color: #6A89BA;
				box-shadow: 1px 1px 1px #fff inset,
				            1px 1px 1px #ccc;
			}
		}
		a {
			text-decoration: none;

			span.new-account {
				color: #333;
				cursor: pointer;
			}
		}
	}
}


/* CREATE PROFILE */
section.create-profile {
	margin: 0 auto;
	width: 600px;

	div.create-profile-form {
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 1px 1px 1px #ddd inset;

		h2 {
			padding: 10px;
			color: #666;
		}
		form {
			input[type="text"], input[type="password"], textarea {
				margin-right: 28px;
				margin-bottom: 15px;
				padding: 5px;
				width: 155px;
				font-size: 14px;
				border: 1px solid #eee;
				border-radius: 3px;
			}
			input + input {
				margin-right: 0 !important;
			}

			div.business-items {
				padding: 20px 40px;
				height: 180px;
				border-bottom: 1px dotted #bbb;

				div.image-container {
					display: inline-block;
					width: 120px;
					height: 120px;
					text-align: center;
					background-color: #444;
					border-radius: 3px;

					i {
						line-height: 120px;
						font-size: 35px;
						color: #ddd;
					}
				}
				div.business-item-inputs {
					display: inline-block;
					padding: 0 0 0 20px;
					width: calc(100% - 130px - 20px);
					height: 120px;
					vertical-align: top;
				}
			}
			div.informal {
				padding: 20px 40px;

				div.favorites {
					display: inline-block;
					width: 200px;
					vertical-align: top;
				}
				div.shortResponse {
					display: inline-block;
					width: calc(100% - 220px);

					textarea {
						width: 100%;
						min-height: 50px;
					}
				}
			}
		}
	}
}


/* LEADERBOARD */
section.leaderboard {
	margin: 0 auto;
	width: 1000px;

	div.leaderboard-contents {
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 1px 1px 1px #ddd inset;

		h2 {
			padding: 10px;
			color: #666;
		}
		ul.table-headers {
			list-style: none;

			li {
				display: inline-block;
				padding: 0 0 10px 0;
				text-align: center;
				font-weight: bold;
			}
			li:nth-child(1) {
				width: 116px;
			}
			li:nth-child(2) {
				width: 342px;
			}
			li:nth-child(3) {
				width: 167px;
			}
			li:nth-child(4) {
				width: 200px;
			}
			li:nth-child(5) {
				width: 156px;
			}
		}
		div.table {
			height: 510px;
			overflow-y: scroll;

			table {
				margin: -20px auto 0 auto;
				width: 982px;
				border-collapse: collapse;

				th {
					visibility: hidden;
				}
				td {
					padding: 8px;
					text-align: center;
					font-size: 14px;
					color: #777;
				    border: 1px solid #ccc;
				}
				td:first-child {
					color: #BA6354;
				}
			}
		}
		div.table::-webkit-scrollbar {
			width: 0px;
		}
	}
}


/* DASHBOARD */
section.dashboard {

	section.points {
		margin: 0 auto;
		padding-top: 10px;
	}
	section.leftPane {
		float: left;
	}
	section.messages {
		float: right;
		margin-top: 1px;
		margin-right: 70px;
	}
}


/* POINTS */
section.points {
	width: $progress-bar-width;

	div.progress-bar {
		padding: 8px 14px 25px 14px;
		width: calc(100% - 28px);
		background-color: #e4e9e9;
		border-radius: 3px;
		box-shadow: 1px 1px 1px #ccc inset,
		            1px 1px 1px #fff;

		h3 {
			float: left;
			margin-bottom: 7px;
			font-size: 13px;
			color: #888;
		}
		h5 {
			float: right;
			font-size: 13px;
			color: #777;
		}
		div.progress {
			clear: both;
			width: calc(#{$progress-bar-width} - 200px);
			height: 20px;
			background-color: #6A89BA;
			border-radius: 3px;
		}
	}
}


/* LEFT PANE */
section.leftPane {
	width: $left-pane-width;
	background-color: $theme-1;
	box-shadow: 1px 1px 1px #fff inset,
	            1px 0px 1px #bbb;

	div.pane-content {
		width: 100%;

		div.pane-section {
			padding: 15px;
			height: 256.5px;

			h3.pane-section-title {
				margin-bottom: 15px;
				color: #777;
			}
			img.pane-section-image {
				width: 50px;
				height: 50px;
				border-radius: 25px;
			}
			h4.pane-section-header {
				display: inline-block;
				line-height: 50px;
				vertical-align: top;
				color: $text-2;
			}
			ul.pane-section-options {
				margin-top: 20px;
				padding-left: 5px;
				list-style: none;
				
				li {
					margin-bottom: 5px;
					color: desaturate(#44a3df, 40%);

					a {
						font-family: "Roboto-Light";
						font-size: 14px;
						color: desaturate(#44a3df, 40%);
						text-decoration: none;

						i {
							margin-right: 10px;
						}
					}
				}
			}
		}
		div.pane-section:first-child {
			border-bottom: 1px dotted #bbb;
		}
	}
}


/* MESSAGES */
section.messages {
	width: calc(100% - #{$left-pane-width} - 140px);

	div.messages-content {
		margin: 0 auto;
		height: 495px;

		ul.message-feed {
			padding: 30px 0 10px 0;
			height: 455px;
			overflow-y: scroll;
			list-style: none;

			li.message {
				margin-bottom: 30px;
				padding: 12px;
				font-size: 14px;
				border-radius: 3px;

				img.message-image {
					width: 50px;
					height: 50px;
					border-radius: 25px;
				}
				h5.message-name {
					width: 50px;
					height: 50px;
					margin-top: 5px;
					font-family: "Roboto-Light";
					font-size: 14px !important;
					color: #888;
				}
				p.message-body {
					display: inline-block;
					width: calc(100% - 150px);
					line-height: 21px;
					color: #555;
				}
			}
			li.message.user {

				div.message-sender {
					float: right;
					margin-left: 20px;

					h5.message-name {
						float: left;
						margin-right: 8px;
					}
				}
			}
			li.message.other {

				div.message-sender {
					float: left;
					margin-right: 20px;

					h5.message-name {
						float: right;
						margin-left: 8px;
					}
				}
			}
			li.message:last-child {
				margin-bottom: 0;
			}
			li.message.user {
				float: right;
				text-align: right;
				background-color: $theme-2;
				border: 1px solid lighten($theme-2, 2%);
			}
			li.message.other {
				float: left;
				background-color: #e9e9e9;
				border: 1px solid lighten(#e9e9e9, 2%);
			}
		}
		ul::-webkit-scrollbar {
			width: 0px;
		}
		form {
			margin: 5px 0 0 0;
			padding: 0;

			input#message-input {
				float: left;
				display: block;
				padding: 5px 10px;
				width: calc(100% - 20px - 85px);
				height: 40px;
				font-size: 14px;
				border: none;
				outline: none;
			}
		input#message-submit {
				display: block;
				float: left;
				padding: 5px 10px;
				width: 80px;
				height: 50px;
				color: #fff;
				background-color: #6A89BA;
				border: none;
			}
		}
	}
}


/* FOOTER */
footer {
	width: 100%;
	height: 30px;
	background: -webkit-linear-gradient($theme-3, $theme-1);
	background: -o-linear-gradient($theme-3, $theme-1);
	background: -moz-linear-gradient($theme-3, $theme-1);
	background: linear-gradient($theme-3, $theme-1);
	box-shadow: 1px 1px 1px #fff inset,
	            1px 1px 1px #bbb;

	nav {
		margin: 0 auto;
		width: $footer-inner;
		overflow: auto;

		span {
			font-size: 12px;
			color: #999;
		}
	}
}