<!doctype html>
<html class="no-js" ng-app="wildhacks2014App">

    <head>
        <meta charset="utf-8">
        <title>Title To Come...</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css">

        <script src="bower_components/angular/angular.js"></script>
    </head>

    <body ng-controller="Ctrl">

        <div class="container">
            <header>
                <nav>
                    <h3 class="header-banner"><a ng-href="#/">Name</a></h3>
                    <ul>
                        <li class="active" ng-show="loggedIn"><a ng-href="/#/dashboard">Dashboard</a></li>
                        <li><a ng-href="#/">Leaderboard</a></li>
                        <li><a ng-href="#/">About</a></li>
                        <li><a ng-href="#/">Community</a></li>
                        <li class="logInOut" ng-show="loggedIn" ng-click="loggedIn = !loggedIn">Log Out</li>
                        <li class="logInOut" ng-show="!loggedIn" ng-click="loggedIn = !loggedIn">Log In</li>
                    </ul>
                </nav>
            </header>

            <main>
                <div class="content">
                    <div ng-view=""></div>
                </div>
            </main>

            <footer>
                <nav>
                    <span>Built by Nevil George &amp; Jon Rovira</span>
                </nav>
            </footer>
        </main>


        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/ctrl.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="scripts/style.js"></script>

    </body>

</html>
