<section class="leaderboard">
	<div class="leaderboard-contents">
		<h2>Leaderboard</h2>
		<ul class="table-headers">
			<li>Position</li>
			<li>Duo</li>
			<li>Started</li>
			<li>Last Logged In</li>
			<li>Points</li>
		</ul>
		<div class="table">
			<table>
				<tr>
					<th>Position</th>
					<th>Duo</th>
					<th>Started</th>
					<th>Last Logged In</th>
					<th>Points</th>
				</tr>
				<tr>
					<td>1</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>March '14</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Stephen Piotrkowski and Nevil George</td>
					<td>May '13</td>
					<td>November 11th, 2014</td>
					<td>1,362,845</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>6</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>7</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>8</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>9</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>10</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>11</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>12</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>13</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>14</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>15</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>16</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
				<tr>
					<td>17</td>
					<td>Pascual O'Dogherty and Jon Rovira</td>
					<td>December '11</td>
					<td>November 11th, 2014</td>
					<td>178,362,845</td>
				</tr>
			</table>
		</div>
	</div>
</section>