<section class="leftPane">
	<div class="pane-content">
		<div class="pane-section">
			<h3 class="pane-section-title">YOU</h3>
			<img class="pane-section-image" src="images/mentee.jpg" />
			<h4 class="pane-section-header">Jon Rovira</h4>
			<ul class="pane-section-options">
				<li><a ng-href="#"><i class="fa fa-graduation-cap"></i>Goals</a></li>
				<li><a ng-href="#"><i class="fa fa-user"></i>Profile</a></li>
			</ul>
		</div>
		<div class="pane-section">
			<h3 class="pane-section-title">YOUR MENTOR</h3>
			<img class="pane-section-image" src="images/mentor.jpg" />
			<h4 class="pane-section-header">Nevil George</h4>
			<ul class="pane-section-options">
				<li><a ng-href="#"><i class="fa fa-comments-o"></i>Messages</a></li>
				<li><a ng-href="#"><i class="fa fa-user"></i>Profile</a></li>
			</ul>
		</div>
	</div>
</section>