<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <form ng-submit="login()">
    <h1>Log In</h1>
      <input id="username" type="text" placeholder="Username" ng-model="username" autofocus required>   
      <input id="password" type="password" placeholder="Password" ng-model="password" required>
      <input type="submit" id="submit" value="Log in">
      <a href="">Forgot your password?</a><a href="">Register</a>
  </form>
</div>
