<section class="messages">
	<div class="messages-content">
		<ul class="message-feed">
			<li class="message user">
				<div class="message-sender">
					<img class="message-image" src="images/mentee.jpg" />
					<h5 class="message-name">Jon Rovira</h5>
				</div>
				<p class="message-body">
					The graphic designer’s first fucking consideration is always the size and shape of the format, whether for the printed page or for digital display. Form follows fucking function. Don’t get hung up on things that don’t fucking work. Remember it’s called the creative process, it’s not the creative fucking moment.
				</p>
			</li>
			<li class="message other">
				<div class="message-sender">
					<img class="message-image" src="images/mentor.jpg" />
					<h5 class="message-name">Nevil George</h5>
				</div>
				<p class="message-body">
					This design is fucking brilliant. Paul Rand once said, “The public is more familiar with bad fucking design than good design. It is, in effect,
				</p>
			</li>
			<li class="message user">
				<div class="message-sender">
					<img class="message-image" src="images/mentee.jpg" />
					<h5 class="message-name">Jon Rovira</h5>
				</div>
				<p class="message-body">
					Use your fucking hands. A good fucking composition is the result of a hierarchy consisting of clearly contrasting
				</p>
			</li>
			<li class="message other">
				<div class="message-sender">
					<img class="message-image" src="images/mentor.jpg" />
					<h5 class="message-name">Nevil George</h5>
				</div>
				<p class="message-body">
					To go partway is easy, but mastering anything requires hard fucking work. When you design, you have to draw on your own fucking life experiences. If it’s not something you would want to read/look at/use
				</p>
			</li>
			<li class="message user">
				<div class="message-sender">
					<img class="message-image" src="images/mentee.jpg" />
					<h5 class="message-name">Jon Rovira</h5>
				</div>
				<p class="message-body">
					Paul Rand once said, “The public is more familiar with bad fucking design than good design. It is, in effect, conditioned to prefer bad design, because that is what it lives with. The new becomes threatening, the old reassuring.”
				</p>
			</li>
		</ul>
		<form>
			<input id="message-input" name="message" type="text" placeholder="Send a message" />
			<input id="message-submit" name="submit" type="submit" value="Send" />
		</form>
	</div>
</section>