<section ng-controller="MessagesCtrl" class="messages">
	<div class="messages-content">
		<ul class="message-feed">

			<li ng-repeat="message in messageList"  ng-class="(userName === message.user ? 'message user' : 'message other')">
				<div class="message-sender">
					<img class="message-image" src="images/mentee.jpg" />
					<h5 class="message-name">{{message.user}}</h5>
				</div>
				<p class="message-body">
					{{message.text}}
				</p>
			</li>			

			<!--
			<li class="message user">
				<div class="message-sender">
					<img class="message-image" src="images/mentee.jpg" />
					<h5 class="message-name">Jon Rovira</h5>
				</div>
				<p class="message-body">
					Lorem ipsum dolor sit amet, magna lucilius constituam ut vel. Malis altera viderer no vim, te sed rebum veritus. Cu vix autem volumus, vel ullum percipit in. Eos affert petentium inciderint te, in pri natum noluisse, vis id unum dicunt sensibus.
				</p>
			</li>
			<li class="message other">
				<div class="message-sender">
					<img class="message-image" src="images/mentor.jpg" />
					<h5 class="message-name">Nevil George</h5>
				</div>
				<p class="message-body">
					Lorem ipsum dolor sit amet, magna lucilius constituam ut vel. Malis altera viderer no vim, te sed rebum veritus. Cu vix autem volumus, vel ullum percipit in. Eos affert petentium inciderint te, in pri natum noluisse, vis id unum dicunt sensibus.
				</p>
			</li>
			<li class="message user">
				<div class="message-sender">
					<img class="message-image" src="images/mentee.jpg" />
					<h5 class="message-name">Jon Rovira</h5>
				</div>
				<p class="message-body">
					Lorem ipsum dolor sit amet, magna lucilius constituam ut vel. Malis altera viderer no vim, te sed rebum veritus. Cu vix autem volumus, vel ullum percipit in. Eos affert petentium inciderint te, in pri natum noluisse, vis id unum dicunt sensibus.
				</p>
			</li>
			<li class="message other">
				<div class="message-sender">
					<img class="message-image" src="images/mentor.jpg" />
					<h5 class="message-name">Nevil George</h5>
				</div>
				<p class="message-body">
					Lorem ipsum dolor sit amet, magna lucilius constituam ut vel. Malis altera viderer no vim, te sed rebum veritus. Cu vix autem volumus, vel ullum percipit in. Eos affert petentium inciderint te, in pri natum noluisse, vis id unum dicunt sensibus.
				</p>
			</li>
			<li class="message user">
				<div class="message-sender">
					<img class="message-image" src="images/mentee.jpg" />
					<h5 class="message-name">Jon Rovira</h5>
				</div>
				<p class="message-body">
					Lorem ipsum dolor sit amet, magna lucilius constituam ut vel. Malis altera viderer no vim, te sed rebum veritus. Cu vix autem volumus, vel ullum percipit in. Eos affert petentium inciderint te, in pri natum noluisse, vis id unum dicunt sensibus.
				</p>
			</li>
			<li class="message other">
				<div class="message-sender">
					<img class="message-image" src="images/mentor.jpg" />
					<h5 class="message-name">Nevil George</h5>
				</div>
				<p class="message-body">
					Lorem ipsum dolor sit amet, magna lucilius constituam ut vel. Malis altera viderer no vim, te sed rebum veritus. Cu vix autem volumus, vel ullum percipit in. Eos affert petentium inciderint te, in pri natum noluisse, vis id unum dicunt sensibus.
				</p>
			</li>
			-->

		</ul>
		<form ng-submit="send()">
			<input id="message-input" ng-model="message.text" name="message" type="text" placeholder="Send a message" />
			<input id="message-submit" name="submit" type="submit" value="Send" />
		</form>
	</div>
</section>